<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js">

    </script>
    <script type="text/javascript" src="../static/js/popper.js">

    </script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js">

    </script>
    <script src="https://use.fontawesome.com/dfc9ca6b14.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">


    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

  </head>
  <body class="body-with-bg">
    <div class="">
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Đi Đâu Bây Giờ ????</a>

      </nav>
      <div class="container block " >
        <div class="row">
          <form class="form-inline ">
              <input class="form-control username " type="text" name="username"  value="" placeholder="Tên đăng nhập">
              <input class="form-control password" type="password" name="password" value="" placeholder="Mật khẩu">
              <button class="btn btn-success" type="submit" name="button">Đăng nhập</button>
          </form>

        </div>
        <a href="/dangky">Đăng ký</a>
      </div>

    </div>

  </body>
</html>
