<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Đăng ký</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js">

    </script>
    <script type="text/javascript" src="../static/js/popper.js">

    </script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js">

    </script>
    <script src="https://use.fontawesome.com/dfc9ca6b14.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">


    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body class="body-with-bg">
    <div class="">
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Đi Đâu Bây Giờ ????</a>

      </nav>
      <div class="container block " >
        <div class="row">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Tài khoản</label>
              <input style="padding-right: 150px" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tài khoản">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mật khẩu</label>
              <input style="padding-right: 150px" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
              <input style="padding-right: 150px" type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu">
            </div>

            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </form>

        </div>
      </div>

    </div>

  </body>
</html>
