<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Yorker</title>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js">

    </script>
    <script type="text/javascript" src="static/js/popper.js">

    </script>
    <script type="text/javascript" src="static/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <img class="head-image" src="static/logo.svg" alt="head-image">
    <ul class="table">
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">Culture</a>
      </li>
      <li>
        <a href="#">Books</a>
      </li>
      <li>
        <a href="#">Humor</a>
      </li>
    </ul>

    <!-- <a href="#">Books</a>
    <br>
    <a href="#">November 27, 2017 Issue</a> -->
    <div class="title">
      <h3>What Mary critics don't understand</h3>
      <h2>For America's most beloved poet, paying attention to nature is a springboard to sacred</h2>
      <p>By <a href="#">Ruth Franklin</a></p>
    </div>

    <!-- <ul>
      <li><img src="static/facebook.svg" alt=""></li>
      <li><img src="static/twitter.svg" alt=""></li>
      <li><img src="static/email.svg" alt=""></li>
    </ul> -->
    <div class="para container">
      <div class="row">
        <div class="col-md-9">
          <div class="para-picture">
            <img src="static/img.jpg" alt="">
            <p>Oliver uses nature</p>
            <small>Illusion by blah blah</small>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <blockquote cite="http://">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipisicing elit, <br>
            sed do eiusmod tempor incididunt <br>
            ut labore et dolore magna aliqua.
          </blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
        <div class="most-popular col-md-3">
          <h3>Most popular</h3>
          <ol>
            <li>
              <p class="mp-title">Letter from Washington</p>
              <a class="book" href="#">The danger of President Pence</a>
              <p>By <a href="#">Jane Mayer</a></p>
            </li>
            <li>
              <p class="mp-title">Letter from Washington</p>
              <a class="book" href="#">The danger of President Pence</a>
              <p>By <a href="#">Jane Mayer</a></p>
            </li>
            <li>
              <p class="mp-title">Letter from Washington</p>
              <a class="book" href="#">The danger of President Pence</a>
              <p>By <a href="#">Jane Mayer</a></p>
            </li>
          </ol>
        </div>
      </div>


      </div>
    <div class="b-para container">
      <div class="row">
        <div class="col-md-6">
          <span class="Daily-Cartoon">Daily cartoon</span>
          <a href="#">
            <h2>Friday November 24th</h2>
          </a>
          <h2 class="Forget">Forgetting the garnish.</h2>
          <p>By <a href="#">Lina Finck</a></p>
          <span>Nov. 24, 2017</span>
        </div>

        <div class="col-md-6">
          <span class="Daily-Cartoon">Daily cartoon</span>
          <a href="#">
            <h2>Friday November 24th</h2>
          </a>
          <h2 class="Forget">Forgetting the garnish.</h2>
          <span>By <a href="#">Lina Finck</a></span>
          <span>Nov. 24, 2017</span>
        </div>

      </div>

    </div>




    <div class="bottom">
      <a href="#">
        <h4>Listen to the NewYorker Radio Hour</h4>
      </a>
      <a href="#">
        <h4>Buy the cover</h4>
      </a>
      <a href="#">
        <h4>Play the JigSaw Puzzle</h4>
      </a>
    </div>

  </body>
</html>
