<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js">

    </script>
    <script type="text/javascript" src="static/js/popper.js">

    </script>
    <script type="text/javascript" src="static/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="cart text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link-disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h2>Hello Hello</h2>
        <h2>Sao cua em chu no bay tu tung the a</h2>

      </div>

    </div>

  </body>
</html>
