{% extends "base.html" %}

{% block title %}
Admin
{% endblock %}

{% block page_content %}
  <body>
    <nav class="navbar navbar-expand-lg logo navbar-dark bg-dark">
      <p>Truyen tranh</p>
    </nav>
    <table class="table" >
      <thead>
        <th>TenTruyen</th>
        <th>LinkAnh</th>
        <th>Mota</th>
        <th>Gia</th>
        <th></th>
      </thead>
      <tbody>
        {%for item in items%}
        <tr>
          <td>{{ item.title }}</td>
          <td><a href="{{ item.image }}">LinkAnh</a>
          </td>
          <td>{{ item.description }}</td>
          <td>{{item.price}}</td>
          <td>
            <a href="/suaitem/{{ item.id }}">
              <i class="fa fa-pencil text-dark" aria-hidden="true"></i>
            </a>
            <a href="/xoaitem/{{ item.id }}"><i class="fa fa-trash text-danger" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </body>
{% endblock %}
