{% extends "base.html" %}

{% block title %}
Xoa
{% endblock %}

{% block page_content %}

<body>
<div class="container">
  <h1 class="text-center" >BAN CO CHAC CHAN MUON XOA KHONG</h1>
  <div class="text-center  ">
    <form class="block" method="post">

      {% for message in get_flashed_messages() %}
      <p class="text-success">{{ message }}</p>
      {% endfor %}

      <input class=" btn btn-danger" type="submit" value="BO MAY CHAC ROI">
    </form>

    <a href="http://127.0.0.1:5000/admin">
      <button type="button" class="btn btn-primary">Da Thoi A</button>


    </a>
  </div>



</div>


  </body>
{% endblock %}
